<button type="button" class="btn btn-default">
<td><%= link_to 'Edit', edit_post_path(post) %></td>
</button>
<button type="button" class="btn btn-default">
<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</button>