
<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.post %>
</p>
<button type="button" class="btn btn-default">
<%= link_to 'Edit', edit_post_path(@post) %> 
</button>
<button type="button" class="btn btn-default">
<%= link_to 'Back', posts_path %>
</button>